In [16]:
import pandas as pd

file_path = 'mortalidad_materna_2002_2022.xlsx'
data = pd.read_excel(file_path)

# Mostrar las primeras filas del dataset
print(data.head())

# Mostrar información general del dataset
print(data.info())

# Describir las estadísticas básicas del dataset
print(data.describe())

   ANIO_NACIMIENTO  MES_NACIMIENTO  MES_NACIMIENTOD  DIA_NACIMIENTO  EDAD  \
0                0               0  NO ESPECIFICADO               0    22
1                0               0  NO ESPECIFICADO               0   998
2                0               0  NO ESPECIFICADO               0    23
3                0               0  NO ESPECIFICADO               0   998
4                0               0  NO ESPECIFICADO               0    29

   ESTADO_CONYUGAL ESTADO_CONYUGALD  ENTIDAD_RESIDENCIA  \
0                1          SOLTERO                   7
1                4      UNION LIBRE                  21
2                5           CASADO                  13
3                1          SOLTERO                  12
4                5           CASADO                  33

              ENTIDAD_RESIDENCIAD  MUNICIPIO_RESIDENCIA  ... DIA_REGISTRO  \
0                         CHIAPAS                    57  ...           24
1                          PUEBLA                   156  ...            3
2                         HIDALGO                    37  ...           29
3                        GUERRERO                    11  ...           16
4  ESTADOS UNIDOS DE NORTEAMÉRICA                     0  ...            9

   ANIO_CERTIFICACION MES_CERTIFICACION  MES_CERTIFICACIOND DIA_CERTIFICACION  \
0                   0                 0     NO ESPECIFICADO                 0
1                   0                 0     NO ESPECIFICADO                 0
2                   0                 0     NO ESPECIFICADO                 0
3                   0                 0     NO ESPECIFICADO                 0
4                   0                 0     NO ESPECIFICADO                 0

   ANIO_BASE_DATOS RAZON_MORTALIDAD_MATERNA  \
0             2002                        1
1             2002                        0
2             2002                        1
3             2002                        1
4             2002                        1

                           RAZON_MORTALIDAD_MATERNAD EDAD_QUINQUENAL  \
0  MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...               3
1  MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...              11
2  MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...               3
3  MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...              11
4  MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...               4

   EDAD_QUINQUENALD
0      20 a 24 años
1   No especificado
2      20 a 24 años
3   No especificado
4      25 a 29 años

[5 rows x 58 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23278 entries, 0 to 23277
Data columns (total 58 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ANIO_NACIMIENTO            23278 non-null  int64
 1   MES_NACIMIENTO             23278 non-null  int64
 2   MES_NACIMIENTOD            23278 non-null  object
 3   DIA_NACIMIENTO             23278 non-null  int64
 4   EDAD                       23278 non-null  int64
 5   ESTADO_CONYUGAL            23278 non-null  int64
 6   ESTADO_CONYUGALD           23278 non-null  object
 7   ENTIDAD_RESIDENCIA         23278 non-null  int64
 8   ENTIDAD_RESIDENCIAD        23278 non-null  object
 9   MUNICIPIO_RESIDENCIA       23278 non-null  int64
 10  MUNICIPIO_RESIDENCIAD      23278 non-null  object
 11  LOCALIDAD_RESIDENCIA       23278 non-null  int64
 12  LOCALIDAD_RESIDENCIAD      23278 non-null  object
 13  TAMANIO_LOCALIDAD          23278 non-null  int64
 14  TAMANIO_LOCALIDADD         23278 non-null  object
 15  OCUPACION_HABITUAL         23278 non-null  int64
 16  OCUPACION_HABITUALD        23278 non-null  object
 17  ESCOLARIDAD                23278 non-null  int64
 18  ESCOLARIDADD               23278 non-null  object
 19  DERECHOHABIENCIA           23278 non-null  int64
 20  DERECHOHABIENCIAD          23278 non-null  object
 21  ENTIDAD_OCURRENCIA         23278 non-null  int64
 22  ENTIDAD_OCURRENCIAD        23278 non-null  object
 23  MUNICIPIO_OCURRENCIA       23278 non-null  int64
 24  MUNICIPIO_OCURRENCIAD      23278 non-null  object
 25  LOCALIDAD_OCURRENCIA       23278 non-null  int64
 26  LOCALIDAD_OCURRENCIAD      23278 non-null  object
 27  SITIO_DEFUNCION            23278 non-null  int64
 28  SITIO_DEFUNCIOND           23278 non-null  object
 29  ANIO_DEFUNCION             23278 non-null  int64
 30  MES_DEFUNCION              23278 non-null  int64
 31  MES_DEFUNCIOND             23278 non-null  object
 32  DIA_DEFUNCION              23278 non-null  int64
 33  HORA_DEFUNCION             23278 non-null  int64
 34  MINUTOS_DEFUNCION          23278 non-null  int64
 35  ASISTENCIA_MEDICA          23278 non-null  int64
 36  ASISTENCIA_MEDICAD         23278 non-null  object
 37  CAUSA_CIE_4                23278 non-null  object
 38  CAUSA_CIE_4D               23278 non-null  object
 39  CERTIFICO                  23278 non-null  int64
 40  CERTIFICOD                 23278 non-null  object
 41  ENTIDAD_REGISTRO           23278 non-null  int64
 42  ENTIDAD_REGISTROD          23278 non-null  object
 43  MUNICIPIO_REGISTRO         23278 non-null  int64
 44  MUNICIPIO_REGISTROD        23278 non-null  object
 45  ANIO_REGISTRO              23278 non-null  int64
 46  MES_REGISTRO               23278 non-null  int64
 47  MES_REGISTROD              23278 non-null  object
 48  DIA_REGISTRO               23278 non-null  int64
 49  ANIO_CERTIFICACION         23278 non-null  int64
 50  MES_CERTIFICACION          23278 non-null  int64
 51  MES_CERTIFICACIOND         23278 non-null  object
 52  DIA_CERTIFICACION          23278 non-null  int64
 53  ANIO_BASE_DATOS            23278 non-null  int64
 54  RAZON_MORTALIDAD_MATERNA   23278 non-null  int64
 55  RAZON_MORTALIDAD_MATERNAD  23278 non-null  object
 56  EDAD_QUINQUENAL            23278 non-null  int64
 57  EDAD_QUINQUENALD           23278 non-null  object
dtypes: int64(34), object(24)
memory usage: 10.3+ MB
None
       ANIO_NACIMIENTO  MES_NACIMIENTO  DIA_NACIMIENTO          EDAD  \
count     23278.000000    23278.000000    23278.000000  23278.000000
mean       1975.789630        4.475427       11.342254     29.700662
std         114.980968        3.869590       10.118523     33.237421
min           0.000000        0.000000        0.000000     11.000000
25%        1976.000000        1.000000        0.000000     23.000000
50%        1983.000000        4.000000       10.000000     28.000000
75%        1989.000000        8.000000       20.000000     34.000000
max        2009.000000       12.000000       31.000000    998.000000

       ESTADO_CONYUGAL  ENTIDAD_RESIDENCIA  MUNICIPIO_RESIDENCIA  \
count     23278.000000        23278.000000          23278.000000
mean          3.830741           16.275883             57.585961
std           1.508367            7.857705             73.201412
min           0.000000            0.000000              0.000000
25%           4.000000           10.000000             13.000000
50%           4.000000           15.000000             35.000000
75%           5.000000           21.000000             76.000000
max           8.000000           35.000000            570.000000

       LOCALIDAD_RESIDENCIA  TAMANIO_LOCALIDAD  OCUPACION_HABITUAL  ...  \
count          23278.000000       23278.000000        23278.000000  ...
mean             145.802818           8.021308           15.075780  ...
std              920.173757           5.898671           25.848163  ...
min                0.000000           0.000000            0.000000  ...
25%                1.000000           2.000000            2.000000  ...
50%                1.000000           7.000000            3.000000  ...
75%               14.000000          14.000000           11.000000  ...
max             7777.000000          17.000000           99.000000  ...

       MUNICIPIO_REGISTRO  ANIO_REGISTRO  MES_REGISTRO  DIA_REGISTRO  \
count        23278.000000   23278.000000  23278.000000  23278.000000
mean            52.619813    2011.401839      6.684251     16.277215
std             63.037113       6.159712      3.452693     11.893204
min              1.000000    2002.000000      1.000000      0.000000
25%             14.000000    2006.000000      4.000000      8.000000
50%             35.000000    2011.000000      7.000000     16.000000
75%             72.000000    2017.000000     10.000000     23.000000
max            570.000000    2022.000000     12.000000     99.000000

       ANIO_CERTIFICACION  MES_CERTIFICACION  DIA_CERTIFICACION  \
count        23278.000000       23278.000000       23278.000000
mean          1778.354541           5.845476          13.906951
std            645.416317           3.876854          10.021797
min              0.000000           0.000000           0.000000
25%           2006.000000           2.000000           5.000000
50%           2011.000000           6.000000          14.000000
75%           2017.000000           9.000000          22.000000
max           2022.000000          12.000000          99.000000

       ANIO_BASE_DATOS  RAZON_MORTALIDAD_MATERNA  EDAD_QUINQUENAL
count     23278.000000              23278.000000     23278.000000
mean       2011.401839                  0.897929         4.328551
std           6.159712                  0.302748         1.523868
min        2002.000000                  0.000000         1.000000
25%        2006.000000                  1.000000         3.000000
50%        2011.000000                  1.000000         4.000000
75%        2017.000000                  1.000000         5.000000
max        2022.000000                  1.000000        11.000000

[8 rows x 34 columns]

In [ ]:
import numpy as np

# Paso 1: Reemplazar valores 'NO ESPECIFICADO' con NaN
data.replace('NO ESPECIFICADO', np.nan, inplace=True)

# Paso 2: Reemplazar valores 0 en columnas específicas con NaN
columns_to_replace_zeros = ['ANIO_NACIMIENTO', 'MES_NACIMIENTO', 'DIA_NACIMIENTO', 'EDAD']
data[columns_to_replace_zeros] = data[columns_to_replace_zeros].replace(0, np.nan)

# Paso 3: Manejar valores atípicos en la columna EDAD (mayores a 120 se reemplazan por NaN)
data['EDAD'] = data['EDAD'].apply(lambda x: np.nan if x > 120 else x)

# Paso 4: Asegurar que los valores de columnas de fecha estén en un rango válido
data['ANIO_NACIMIENTO'] = data['ANIO_NACIMIENTO'].apply(lambda x: x if 1900 <= x <= 2022 else np.nan)

# Paso 5: Corregir valores fuera de rango en las columnas de día (máximo 31) y mes (máximo 12)
data['DIA_REGISTRO'] = data['DIA_REGISTRO'].apply(lambda x: x if 1 <= x <= 31 else np.nan)
data['DIA_CERTIFICACION'] = data['DIA_CERTIFICACION'].apply(lambda x: x if 1 <= x <= 31 else np.nan)
data['MES_REGISTRO'] = data['MES_REGISTRO'].apply(lambda x: x if 1 <= x <= 12 else np.nan)
data['MES_CERTIFICACION'] = data['MES_CERTIFICACION'].apply(lambda x: x if 1 <= x <= 12 else np.nan)

# Paso 6: Eliminar duplicados si existen
data.drop_duplicates(inplace=True)

# Paso 7: Corrección de tipos de datos
# Convertir la columna EDAD a float (por los NaN) si no está en ese formato
data['EDAD'] = data['EDAD'].astype(float)

# Paso 8: Crear columnas de fecha en formato datetime, si es necesario (ejemplo de defunción)
# Combina columnas de año, mes y día en una sola columna de fecha
# Convierte a datetime, y si hay errores, establece los valores no válidos como NaT
data['FECHA_DEFUNCION'] = pd.to_datetime(data[['ANIO_DEFUNCION', 'MES_DEFUNCION', 'DIA_DEFUNCION']].astype(str).agg('-'.join, axis=1), errors='coerce')

# Paso 9: Crear nuevas columnas si son útiles
# Calcular edad al momento de la defunción (ANIO_DEFUNCION - ANIO_NACIMIENTO)
data['EDAD_DEFUNCION'] = data.apply(lambda row: row['ANIO_DEFUNCION'] - row['ANIO_NACIMIENTO'] if pd.notnull(row['ANIO_NACIMIENTO']) and pd.notnull(row['ANIO_DEFUNCION']) else np.nan, axis=1)

# Paso 10: Imputar valores faltantes en variables categóricas y numéricas
# Variables categóricas (por ejemplo, ESTADO_CONYUGALD) rellenar con "DESCONOCIDO"
data = data.assign(ESTADO_CONYUGALD=data['ESTADO_CONYUGALD'].fillna('DESCONOCIDO'))

# Variables numéricas (por ejemplo, EDAD) rellenar con la mediana de la columna
data = data.assign(EDAD=data['EDAD'].fillna(data['EDAD'].median()))

# Paso 11: Estandarizar texto en columnas categóricas (por ejemplo, ENTIDAD_RESIDENCIAD)
data['ENTIDAD_RESIDENCIAD'] = data['ENTIDAD_RESIDENCIAD'].str.upper().str.strip()

# Paso 12: Verificar consistencia en etiquetas y crear un diccionario de valores predeterminados
# Crear un diccionario con valores predeterminados para columnas de etiquetas, si necesario
default_values = {'ENTIDAD_RESIDENCIAD': 'DESCONOCIDO', 'MUNICIPIO_RESIDENCIAD': 'DESCONOCIDO'}
data = data.fillna(value=default_values)

# Mostrar las primeras filas después de la limpieza
print(data.head())

# Mostrar información general después de la limpieza
print(data.info())

# Describir las estadísticas básicas después de la limpieza
print(data.describe())

   ANIO_NACIMIENTO  MES_NACIMIENTO MES_NACIMIENTOD  DIA_NACIMIENTO  EDAD  \
0              NaN             NaN             NaN             NaN  22.0
1              NaN             NaN             NaN             NaN  28.0
2              NaN             NaN             NaN             NaN  23.0
3              NaN             NaN             NaN             NaN  28.0
4              NaN             NaN             NaN             NaN  29.0

   ESTADO_CONYUGAL ESTADO_CONYUGALD  ENTIDAD_RESIDENCIA  \
0                1          SOLTERO                   7
1                4      UNION LIBRE                  21
2                5           CASADO                  13
3                1          SOLTERO                  12
4                5           CASADO                  33

              ENTIDAD_RESIDENCIAD  MUNICIPIO_RESIDENCIA  ...  \
0                         CHIAPAS                    57  ...
1                          PUEBLA                   156  ...
2                         HIDALGO                    37  ...
3                        GUERRERO                    11  ...
4  ESTADOS UNIDOS DE NORTEAMÉRICA                     0  ...

  MES_CERTIFICACION  MES_CERTIFICACIOND DIA_CERTIFICACION  ANIO_BASE_DATOS  \
0               NaN                 NaN               NaN             2002
1               NaN                 NaN               NaN             2002
2               NaN                 NaN               NaN             2002
3               NaN                 NaN               NaN             2002
4               NaN                 NaN               NaN             2002

  RAZON_MORTALIDAD_MATERNA                          RAZON_MORTALIDAD_MATERNAD  \
0                        1  MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...
1                        0  MUERTES MATERNAS EXCLUIDAS PARA LA RAZÓN DE MO...
2                        1  MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...
3                        1  MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...
4                        1  MUERTES MATERNAS PARA LA RAZÓN DE MORTALIDAD M...

  EDAD_QUINQUENAL  EDAD_QUINQUENALD FECHA_DEFUNCION  EDAD_DEFUNCION
0               3      20 a 24 años      2002-05-21             NaN
1              11   No especificado      2002-10-03             NaN
2               3      20 a 24 años      2002-11-27             NaN
3              11   No especificado      2002-09-16             NaN
4               4      25 a 29 años      2002-07-30             NaN

[5 rows x 60 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23278 entries, 0 to 23277
Data columns (total 60 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ANIO_NACIMIENTO            23200 non-null  float64
 1   MES_NACIMIENTO             17679 non-null  float64
 2   MES_NACIMIENTOD            17679 non-null  object
 3   DIA_NACIMIENTO             17196 non-null  float64
 4   EDAD                       23278 non-null  float64
 5   ESTADO_CONYUGAL            23278 non-null  int64
 6   ESTADO_CONYUGALD           23278 non-null  object
 7   ENTIDAD_RESIDENCIA         23278 non-null  int64
 8   ENTIDAD_RESIDENCIAD        23278 non-null  object
 9   MUNICIPIO_RESIDENCIA       23278 non-null  int64
 10  MUNICIPIO_RESIDENCIAD      23278 non-null  object
 11  LOCALIDAD_RESIDENCIA       23278 non-null  int64
 12  LOCALIDAD_RESIDENCIAD      23232 non-null  object
 13  TAMANIO_LOCALIDAD          23278 non-null  int64
 14  TAMANIO_LOCALIDADD         22622 non-null  object
 15  OCUPACION_HABITUAL         23278 non-null  int64
 16  OCUPACION_HABITUALD        22936 non-null  object
 17  ESCOLARIDAD                23278 non-null  int64
 18  ESCOLARIDADD               23278 non-null  object
 19  DERECHOHABIENCIA           23278 non-null  int64
 20  DERECHOHABIENCIAD          23278 non-null  object
 21  ENTIDAD_OCURRENCIA         23278 non-null  int64
 22  ENTIDAD_OCURRENCIAD        23278 non-null  object
 23  MUNICIPIO_OCURRENCIA       23278 non-null  int64
 24  MUNICIPIO_OCURRENCIAD      23248 non-null  object
 25  LOCALIDAD_OCURRENCIA       23278 non-null  int64
 26  LOCALIDAD_OCURRENCIAD      23266 non-null  object
 27  SITIO_DEFUNCION            23278 non-null  int64
 28  SITIO_DEFUNCIOND           23278 non-null  object
 29  ANIO_DEFUNCION             23278 non-null  int64
 30  MES_DEFUNCION              23278 non-null  int64
 31  MES_DEFUNCIOND             23276 non-null  object
 32  DIA_DEFUNCION              23278 non-null  int64
 33  HORA_DEFUNCION             23278 non-null  int64
 34  MINUTOS_DEFUNCION          23278 non-null  int64
 35  ASISTENCIA_MEDICA          23278 non-null  int64
 36  ASISTENCIA_MEDICAD         22245 non-null  object
 37  CAUSA_CIE_4                23278 non-null  object
 38  CAUSA_CIE_4D               23278 non-null  object
 39  CERTIFICO                  23278 non-null  int64
 40  CERTIFICOD                 22881 non-null  object
 41  ENTIDAD_REGISTRO           23278 non-null  int64
 42  ENTIDAD_REGISTROD          23278 non-null  object
 43  MUNICIPIO_REGISTRO         23278 non-null  int64
 44  MUNICIPIO_REGISTROD        23278 non-null  object
 45  ANIO_REGISTRO              23278 non-null  int64
 46  MES_REGISTRO               23278 non-null  int64
 47  MES_REGISTROD              23278 non-null  object
 48  DIA_REGISTRO               22690 non-null  float64
 49  ANIO_CERTIFICACION         23278 non-null  int64
 50  MES_CERTIFICACION          20554 non-null  float64
 51  MES_CERTIFICACIOND         20554 non-null  object
 52  DIA_CERTIFICACION          20472 non-null  float64
 53  ANIO_BASE_DATOS            23278 non-null  int64
 54  RAZON_MORTALIDAD_MATERNA   23278 non-null  int64
 55  RAZON_MORTALIDAD_MATERNAD  23278 non-null  object
 56  EDAD_QUINQUENAL            23278 non-null  int64
 57  EDAD_QUINQUENALD           23278 non-null  object
 58  FECHA_DEFUNCION            23273 non-null  datetime64[ns]
 59  EDAD_DEFUNCION             23200 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(27), object(24)
memory usage: 10.7+ MB
None
       ANIO_NACIMIENTO  MES_NACIMIENTO  DIA_NACIMIENTO          EDAD  \
count     23200.000000    17679.000000    17196.000000  23278.000000
mean       1982.432371        5.892811       15.353861     28.617235
min        1903.000000        1.000000        1.000000     11.000000
25%        1976.000000        3.000000        8.000000     23.000000
50%        1983.000000        6.000000       15.000000     28.000000
75%        1989.000000        9.000000       23.000000     34.000000
max        2009.000000       12.000000       31.000000     86.000000
std           9.783721        3.370962        8.775046      7.501250

       ESTADO_CONYUGAL  ENTIDAD_RESIDENCIA  MUNICIPIO_RESIDENCIA  \
count     23278.000000        23278.000000          23278.000000
mean          3.830741           16.275883             57.585961
min           0.000000            0.000000              0.000000
25%           4.000000           10.000000             13.000000
50%           4.000000           15.000000             35.000000
75%           5.000000           21.000000             76.000000
max           8.000000           35.000000            570.000000
std           1.508367            7.857705             73.201412

       LOCALIDAD_RESIDENCIA  TAMANIO_LOCALIDAD  OCUPACION_HABITUAL  ...  \
count          23278.000000       23278.000000        23278.000000  ...
mean             145.802818           8.021308           15.075780  ...
min                0.000000           0.000000            0.000000  ...
25%                1.000000           2.000000            2.000000  ...
50%                1.000000           7.000000            3.000000  ...
75%               14.000000          14.000000           11.000000  ...
max             7777.000000          17.000000           99.000000  ...
std              920.173757           5.898671           25.848163  ...

       MES_REGISTRO  DIA_REGISTRO  ANIO_CERTIFICACION  MES_CERTIFICACION  \
count  23278.000000  22690.000000        23278.000000       20554.000000
mean       6.684251     15.774041         1778.354541           6.620171
min        1.000000      1.000000            0.000000           1.000000
25%        4.000000      8.000000         2006.000000           4.000000
50%        7.000000     16.000000         2011.000000           7.000000
75%       10.000000     23.000000         2017.000000          10.000000
max       12.000000     31.000000         2022.000000          12.000000
std        3.452693      8.748166          645.416317           3.448643

       DIA_CERTIFICACION  ANIO_BASE_DATOS  RAZON_MORTALIDAD_MATERNA  \
count       20472.000000     23278.000000              23278.000000
mean           15.716393      2011.401839                  0.897929
min             1.000000      2002.000000                  0.000000
25%             8.000000      2006.000000                  1.000000
50%            16.000000      2011.000000                  1.000000
75%            23.000000      2017.000000                  1.000000
max            31.000000      2022.000000                  1.000000
std             8.805325         6.159712                  0.302748

       EDAD_QUINQUENAL                FECHA_DEFUNCION  EDAD_DEFUNCION
count     23278.000000                          23273    23200.000000
mean          4.328551  2011-09-28 05:02:22.774889472       28.856681
min           1.000000            1914-03-14 00:00:00        0.000000
25%           3.000000            2006-06-03 00:00:00       23.000000
50%           4.000000            2011-06-01 00:00:00       29.000000
75%           5.000000            2017-03-27 00:00:00       34.000000
max          11.000000            2022-12-31 00:00:00       87.000000
std           1.523868                            NaN        7.541081

[8 rows x 36 columns]