In [ ]:
import pandas as pd

file_path = 'mortalidad_materna_2002_2022.xlsx'
data = pd.read_excel(file_path)

# Mostrar las primeras filas del dataset
data.head()

# Mostrar información general del dataset
data.info()

# Describir las estadísticas básicas del dataset
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23278 entries, 0 to 23277
Data columns (total 58 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ANIO_NACIMIENTO            23278 non-null  int64
 1   MES_NACIMIENTO             23278 non-null  int64
 2   MES_NACIMIENTOD            23278 non-null  object
 3   DIA_NACIMIENTO             23278 non-null  int64
 4   EDAD                       23278 non-null  int64
 5   ESTADO_CONYUGAL            23278 non-null  int64
 6   ESTADO_CONYUGALD           23278 non-null  object
 7   ENTIDAD_RESIDENCIA         23278 non-null  int64
 8   ENTIDAD_RESIDENCIAD        23278 non-null  object
 9   MUNICIPIO_RESIDENCIA       23278 non-null  int64
 10  MUNICIPIO_RESIDENCIAD      23278 non-null  object
 11  LOCALIDAD_RESIDENCIA       23278 non-null  int64
 12  LOCALIDAD_RESIDENCIAD      23278 non-null  object
 13  TAMANIO_LOCALIDAD          23278 non-null  int64
 14  TAMANIO_LOCALIDADD         23278 non-null  object
 15  OCUPACION_HABITUAL         23278 non-null  int64
 16  OCUPACION_HABITUALD        23278 non-null  object
 17  ESCOLARIDAD                23278 non-null  int64
 18  ESCOLARIDADD               23278 non-null  object
 19  DERECHOHABIENCIA           23278 non-null  int64
 20  DERECHOHABIENCIAD          23278 non-null  object
 21  ENTIDAD_OCURRENCIA         23278 non-null  int64
 22  ENTIDAD_OCURRENCIAD        23278 non-null  object
 23  MUNICIPIO_OCURRENCIA       23278 non-null  int64
 24  MUNICIPIO_OCURRENCIAD      23278 non-null  object
 25  LOCALIDAD_OCURRENCIA       23278 non-null  int64
 26  LOCALIDAD_OCURRENCIAD      23278 non-null  object
 27  SITIO_DEFUNCION            23278 non-null  int64
 28  SITIO_DEFUNCIOND           23278 non-null  object
 29  ANIO_DEFUNCION             23278 non-null  int64
 30  MES_DEFUNCION              23278 non-null  int64
 31  MES_DEFUNCIOND             23278 non-null  object
 32  DIA_DEFUNCION              23278 non-null  int64
 33  HORA_DEFUNCION             23278 non-null  int64
 34  MINUTOS_DEFUNCION          23278 non-null  int64
 35  ASISTENCIA_MEDICA          23278 non-null  int64
 36  ASISTENCIA_MEDICAD         23278 non-null  object
 37  CAUSA_CIE_4                23278 non-null  object
 38  CAUSA_CIE_4D               23278 non-null  object
 39  CERTIFICO                  23278 non-null  int64
 40  CERTIFICOD                 23278 non-null  object
 41  ENTIDAD_REGISTRO           23278 non-null  int64
 42  ENTIDAD_REGISTROD          23278 non-null  object
 43  MUNICIPIO_REGISTRO         23278 non-null  int64
 44  MUNICIPIO_REGISTROD        23278 non-null  object
 45  ANIO_REGISTRO              23278 non-null  int64
 46  MES_REGISTRO               23278 non-null  int64
 47  MES_REGISTROD              23278 non-null  object
 48  DIA_REGISTRO               23278 non-null  int64
 49  ANIO_CERTIFICACION         23278 non-null  int64
 50  MES_CERTIFICACION          23278 non-null  int64
 51  MES_CERTIFICACIOND         23278 non-null  object
 52  DIA_CERTIFICACION          23278 non-null  int64
 53  ANIO_BASE_DATOS            23278 non-null  int64
 54  RAZON_MORTALIDAD_MATERNA   23278 non-null  int64
 55  RAZON_MORTALIDAD_MATERNAD  23278 non-null  object
 56  EDAD_QUINQUENAL            23278 non-null  int64
 57  EDAD_QUINQUENALD           23278 non-null  object
dtypes: int64(34), object(24)
memory usage: 10.3+ MB

,ANIO_NACIMIENTO,MES_NACIMIENTO,DIA_NACIMIENTO,EDAD,ESTADO_CONYUGAL,ENTIDAD_RESIDENCIA,MUNICIPIO_RESIDENCIA,LOCALIDAD_RESIDENCIA,TAMANIO_LOCALIDAD,OCUPACION_HABITUAL,...,MUNICIPIO_REGISTRO,ANIO_REGISTRO,MES_REGISTRO,DIA_REGISTRO,ANIO_CERTIFICACION,MES_CERTIFICACION,DIA_CERTIFICACION,ANIO_BASE_DATOS,RAZON_MORTALIDAD_MATERNA,EDAD_QUINQUENAL
count,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,...,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000
mean,1975.789630,4.475427,11.342254,29.700662,3.830741,16.275883,57.585961,145.802818,8.021308,15.075780,...,52.619813,2011.401839,6.684251,16.277215,1778.354541,5.845476,13.906951,2011.401839,0.897929,4.328551
std,114.980968,3.869590,10.118523,33.237421,1.508367,7.857705,73.201412,920.173757,5.898671,25.848163,...,63.037113,6.159712,3.452693,11.893204,645.416317,3.876854,10.021797,6.159712,0.302748,1.523868
min,0.000000,0.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2002.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2002.000000,0.000000,1.000000
25%,1976.000000,1.000000,0.000000,23.000000,4.000000,10.000000,13.000000,1.000000,2.000000,2.000000,...,14.000000,2006.000000,4.000000,8.000000,2006.000000,2.000000,5.000000,2006.000000,1.000000,3.000000
50%,1983.000000,4.000000,10.000000,28.000000,4.000000,15.000000,35.000000,1.000000,7.000000,3.000000,...,35.000000,2011.000000,7.000000,16.000000,2011.000000,6.000000,14.000000,2011.000000,1.000000,4.000000
75%,1989.000000,8.000000,20.000000,34.000000,5.000000,21.000000,76.000000,14.000000,14.000000,11.000000,...,72.000000,2017.000000,10.000000,23.000000,2017.000000,9.000000,22.000000,2017.000000,1.000000,5.000000
max,2009.000000,12.000000,31.000000,998.000000,8.000000,35.000000,570.000000,7777.000000,17.000000,99.000000,...,570.000000,2022.000000,12.000000,99.000000,2022.000000,12.000000,99.000000,2022.000000,1.000000,11.000000